{% macro input_field(field) %}
  <div class="input-field">
    {{ field|safe }}
    {{ field.label }}
  </div>
{% endmacro %}

{% macro render_field_messages(field) %}
  {% if field.errors %}
    {% for error in field.errors %}
      <li class="message error">
        <div class="title">Invalid {{ field.label.text }}</div>
        <p>{{ error }}</p>
      </li>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_messages(messages) %}
  {% if messages %}
    {% for message in messages %}
      <li class="message {{ message[0] }}">
      {% if message[0] == "success" %}  {# URL registered successfully #}
        <div class="title">
          <span>{{ message[1][0] }}</span>
          <span class="copy-button">📋</span>
        </div>
          <span class="created-url">{{ message[1][1] }}</span>
      {% elif message[0] == "error" %}  {# Short URL is already in use #}
        <div class="title"><i>{{ message[1][2] }}</i> {{ message[1][0] }}</div>
        <a href="{{ message[1][1] }}">{{ clean_url(message[1][1]) }}</a>
      {% endif %}
      </li>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro clean_url(url) %}
  {{ url[url.find(":") + 3:].strip() }}
{% endmacro %}
